.jumbotron {
  background-image: url("../upload/Makanan-Indonesia.png");
  background-size: cover;
  height: 340px;
  text-align: center;
  position: relative;
}
.jumbotron .display-4 {
  margin-top: 100px;
}
@media (min-width: 992px) {
  .jumbotron .display-4 {
    margin-top: 70px;
  }
}
.cart-area {
  padding-top: 100px;
  padding-bottom: 100px;
}
.cart_inner .table tbody tr td {
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  align-self: center;
}
.cart_inner .table tbody tr td .media .d-flex {
  padding-right: 30px;
}
.cart_inner .table tbody tr td .media .d-flex img {
  border: 1px solid #eeeeee;
  border-radius: 3px;
}
.cart_inner .table tbody tr td .media .media-body {
  vertical-align: middle;
  align-self: center;
}
.cart_inner .table tbody tr td .media .media-body p {
  margin-bottom: 0px;
}
.cart_inner .table tbody tr td h5 {
  font-size: 14px;
  color: #222222;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0px;
}
.cart_inner .table tbody tr td .product_count {
  margin-bottom: 0px;
}
.cart_inner .table tbody tr td .product_count input {
  width: 100px;
  padding-left: 30px;
  height: 40px;
  outline: none;
  box-shadow: none;
}
.cart_inner .table tbody tr td .product_count .increase {
  top: -2px;
}
.cart_inner .table tbody tr td .product_count .increase:before {
  content: "";
  height: 40px;
  width: 1px;
  position: absolute;
  left: -3px;
  top: 0px;
  background: #eeeeee;
}
.cart_inner .table tbody tr td .product_count .increase:after {
  content: "";
  height: 1px;
  width: 30px;
  position: absolute;
  left: -3px;
  top: 22px;
  background: #eeeeee;
}
.cart_inner .table tbody tr td .product_count .reduced {
  bottom: -6px;
}
.cart_inner .table tbody tr.bottom_button .gray_btn {
  line-height: 38px;
  background: #e8f0f2;
  border: 1px solid #eeeeee;
  border-radius: 3px;
  padding: 0px 40px;
  display: inline-block;
  color: #222222;
  text-transform: uppercase;
  font-weight: 500;
}
.cart_inner .table tbody tr.bottom_button td:last-child {
  width: 60px;
}
.cart_inner .table tbody tr.bottom_button td .cupon_text {
  margin-left: -446px;
}
.cart_inner .table tbody tr.bottom_button td .cupon_text input {
  width: 200px;
  padding: 0px 15px;
  border-radius: 3px;
  border: 1px solid #eeeeee;
  height: 40px;
  font-size: 14px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  margin-right: -3px;
  outline: none;
  box-shadow: none;
}
.cart_inner .table tbody tr.bottom_button td .cupon_text input.placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.cart_inner
  .table
  tbody
  tr.bottom_button
  td
  .cupon_text
  input:-moz-placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.cart_inner
  .table
  tbody
  tr.bottom_button
  td
  .cupon_text
  input::-moz-placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.cart_inner
  .table
  tbody
  tr.bottom_button
  td
  .cupon_text
  input::-webkit-input-placeholder {
  font-size: 14px;
  color: #cccccc;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}
.cart_inner .table tbody tr.bottom_button td .cupon_text .primary-btn {
  height: 40px;
  line-height: 38px;
  text-transform: uppercase;
  padding: 0px 38px;
  margin-right: -3px;
  border-radius: 0;
}
.cart_inner .table tbody tr.bottom_button td .cupon_text .gray_btn {
  padding: 0px 40px;
}
.cart_inner .table tbody tr.shipping_area td:nth-child(3) {
  vertical-align: top;
}
.cart_inner .table tbody tr.shipping_area .shipping_box {
  margin-left: -250px;
  text-align: right;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .list li {
  margin-bottom: 12px;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .list li:last-child {
  margin-bottom: 0px;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .list li a {
  padding-right: 30px;
  font-size: 14px;
  color: #777777;
  position: relative;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .list li a:before {
  content: "";
  height: 16px;
  width: 16px;
  border: 1px solid #cdcdcd;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}
.cart_inner .table tbody tr.shipping_area .shipping_box .list li a:after {
  content: "";
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffba00;
  display: inline-block;
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
}
.cart_inner
  .table
  tbody
  tr.shipping_area
  .shipping_box
  .list
  li.active
  a:after {
  opacity: 1;
}
.cart_inner .table tbody tr.shipping_area .shipping_box h6 {
  font-size: 14px;
  font-weight: normal;
  color: #222222;
  font-family: "Roboto", sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.cart_inner .table tbody tr.shipping_area .shipping_box h6 i {
  color: #777777;
  padding-left: 5px;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select {
  display: block;
  width: 100%;
  background: #e8f0f2;
  border: 1px solid #eeeeee;
  height: 40px;
  margin-bottom: 20px;
}
.cart_inner .table tbody tr.shipping_area .shipping_box .shipping_select .list {
  width: 100%;
  border-radius: 0px;
}
.cart_inner
  .table
  tbody
  tr.shipping_area
  .shipping_box
  .shipping_select
  .list
  li {
  font-size: 14px;
  font-weight: normal;
  color: #777777;
}
.cart_inner .table tbody tr.shipping_area .shipping_box input {
  height: 40px;
  outline: none;
  border: 1px solid #eeeeee;
  background: #e8f0f2;
  width: 100%;
  padding: 0px 15px;
  margin-bottom: 20px;
}
.cart_inner .table tbody tr.out_button_area .checkout_btn_inner {
  margin-left: -388px;
}
.cart_inner .table tbody tr.out_button_area .checkout_btn_inner .primary-btn {
  height: 40px;
  padding: 0px 30px;
  line-height: 38px;
  text-transform: uppercase;
  border-radius: 0;
}
.cart_inner
  .table
  tbody
  tr.out_button_area
  .checkout_btn_inner
  .primary-btn:hover:before {
  left: 240px;
}
